@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 100;
  src: url('../../public/assets/fonts/NotoSansKR-Thin.otf') format('otf'),
    url('../../public/assets/fonts/NotoSansKR-Thin.otf') format('otf'),
    url('../../public/assets/fonts/NotoSansKR-Thin.otf') format('truetype');
}

@font-face {
  font-family: 'NotoSansTC';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/assets/fonts/NotoSansTC-Regular.otf') format('otf'),
    url('../../public/assets/fonts/NotoSansTC-Regular.otf') format('otf'),
    url('../../public/assets/fonts/NotoSansTC-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/assets/fonts/NanumGothic-Regular.ttf') format('ttf'),
    url('../../public/assets/fonts/NanumGothic-Regular.ttf') format('ttf'),
    url('../../public/assets/fonts/NanumGothic-Regular.ttf') format('truetype');
}

body {
  font-size: 15px;
  line-height: 0;
  font-weight: 400;
  font-family: 'NotoSansTC';
  -webkit-font-smoothing: antialiased;
}
